#listRegister{ display: none; }
#registration{
    display: none;
    flex-direction: column;
    gap: 30px;
}
#tableRegister{
  display: none;
}



body[page=table] #tableRegister{ display: block; }
body[page=registrationform] #registration{ display: flex; }



body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: rgb(63, 61, 61);
    color: #fff;
}

table{

    border-collapse: collapse;
}
table th,
table td{
    font-size: 14px;
    padding: 10px 15px;
    border: solid 1px #ccc;
    color: #fff;
}

td{
    background-color: rgb(105, 103, 103);
}

th{
    background-color: rgb(37, 37, 37);
}

button{
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(20, 170, 0);
    color: #fff;
    margin-top: 15px;
    padding: 10px 15px;
}
button.cinza{
    background-color: #ccc;
    color: #666;
}
button.vermelho{
    background-color: #a00;
}
button:hover{
    opacity: 0.8;
}

input{
    border: solid 1px #ccc;
    border-radius: 4px;
    padding: 10px;
    background-color: rgb(163, 161, 161);
}

.label>div{
    display: flex;
}
.label>div>input{
    flex: 0.5;
}


#newuser{
  display: none;
}

body[page=table] #newuser{ display: block; }






