.item {
  width: 500px;
  padding: 1em;
  margin: 1em;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
}


.paginationButton{
  border: 1px solid black;
  margin: 5px;

}

.paginationButton:hover{
  background-color:aquamarine;
}

#listRegister{ display: none; }
#registration{
    display: none;
    flex-direction: column;
    gap: 30px;
}
#tableRegister{
  display: none;
}



body[page=table] #tableRegister{ display: block; }
body[page=registrationform] #registration{ display: flex; }



body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

table{
    width: 100%;
    border-collapse: collapse;
}
table th,
table td{
    font-size: 14px;
    padding: 10px 15px;
    border: solid 1px #ccc;
}

button{
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #07a;
    color: #fff;
    margin: 3px;
    padding: 10px 15px;
}
button.cinza{
    background-color: #ccc;
    color: #666;
}
button.vermelho{
    background-color: #a00;
}
button:hover{
    opacity: 0.8;
}

input{
    border: solid 1px #ccc;
    border-radius: 4px;
    padding: 10px;
}

.label>div{
    display: flex;
}
.label>div>input{
    flex: 1;
}


#newuser{
  display: none;
}

body[page=table] #newuser{ display: block; }